.metadata/
RemoteSystemsTempFiles/
target
*Debug.win32
*.sdf
*.opensdf
*.suo
*.ipch
*.userprefs
*.pidb
*.cachefile
*.swp
*.user
.DS_Store

.idea/
.vs/
build/
cmake-build*/
.vscode/settings.json
spine-runtimes.code-workspace

spine-cpp/Debug/*

spine-sfml/Debug/*
spine-sfml/SFML
spine-sfml/dependencies
spine-sfml/c/dependencies
spine-sfml/cpp/dependencies
spine-sfml/cmake-build*

CMakeSettings.json
